In [1]:
import pandas as pd, numpy as np
pd.set_option('display.max_columns', 100) #display all columns
from modules.create_sample import create_carrier_sample, save_sample

In [13]:
#consolidate partitioned csv files into single DF per airline
WN = pd.concat([pd.read_csv('../Datasets/WN-1.txt', sep=';', low_memory=False), 
                pd.read_csv('../Datasets/WN-2.txt', sep=';', low_memory=False),
                pd.read_csv('../Datasets/WN-3.txt', sep=';', low_memory=False), 
                pd.read_csv('../Datasets/WN-4.txt', sep=';', low_memory=False),
                pd.read_csv('../Datasets/WN-5.txt', sep=';', low_memory=False), 
                pd.read_csv('../Datasets/WN-6.txt', sep=';', low_memory=False),
                pd.read_csv('../Datasets/WN-7.txt', sep=';', low_memory=False), 
                pd.read_csv('../Datasets/WN-8.txt', sep=';', low_memory=False)],
                axis=0, 
                ignore_index=True
               )

In [14]:
WN_sample = create_carrier_sample(WN, verbose=True)

Generating and testing samples.
Attempt: 0
Random_State: 10
Sample passed KS test with Random_State: 10
Process complete. Sample returned

In [15]:
save_sample(WN_sample, 'WN_sample')

Sample saved.

### Concatenate all carrier samples into flights_sample

In [16]:
flights_sample = pd.concat([pd.read_csv('../Data Exploration/samples/AA_sample.csv', sep=';', low_memory=False), 
                            pd.read_csv('../Data Exploration/samples/AS_sample.csv', sep=';', low_memory=False),
                            pd.read_csv('../Data Exploration/samples/B6_NK_sample.csv', sep=';', low_memory=False), 
                            pd.read_csv('../Data Exploration/samples/DL_sample.csv', sep=';', low_memory=False),
                            pd.read_csv('../Data Exploration/samples/F9_G4_HA_VX_sample.csv', sep=';', low_memory=False), 
                            pd.read_csv('../Data Exploration/samples/UA_sample.csv', sep=';', low_memory=False),
                            pd.read_csv('../Data Exploration/samples/WN_sample.csv', sep=';', low_memory=False)],
                            axis=0, 
                            ignore_index=True
                           )

In [17]:
save_sample(flights_sample, 'flights_sample')

Sample saved.

drop_list = ['no_name', 
             'first_dep_time', 
             'total_add_gtime', 
             'longest_add_gtime', 
             'branded_code_share', 
             'mkt_carrier', 
             'origin', 
             'origin_city_name', 
             'dest', 
             'dest_city_name', 
             'cancelled'
            ]

UA.drop(labels=drop_list, axis=1, inplace=True)

In [7]:
flights_sample = pd.read_csv('../Data Exploration/samples/flights_sample.csv', sep=';', low_memory=False)
flights_sample = flights_sample[flights_sample.columns[2:]]
flights_sample

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-05-22,AA,AA,AA,1146,AA,N921AN,1146,11433,DTW,"Detroit, MI",11298,DFW,"Dallas/Fort Worth, TX",1140,1152.0,12.0,18.0,1210.0,1339.0,16.0,1333,1355.0,22.0,0,NaN,0,N,173.0,183.0,149.0,1,986,6.0,0.0,10.0,0.0,6.0,NaN,NaN,NaN,NaN
1,2018-08-28,AA,AA,AA,1227,AA,N988NN,1227,11057,CLT,"Charlotte, NC",10821,BWI,"Baltimore, MD",800,757.0,-3.0,26.0,823.0,919.0,5.0,929,924.0,-5.0,0,NaN,0,N,89.0,87.0,56.0,1,361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-14,AA,AA,AA,1513,AA,N962AN,1513,11298,DFW,"Dallas/Fort Worth, TX",11109,COS,"Colorado Springs, CO",1447,1450.0,3.0,15.0,1505.0,1543.0,6.0,1544,1549.0,5.0,0,NaN,0,N,117.0,119.0,98.0,1,592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-02-20,AA,AA,AA,2460,AA,N933AM,2460,11298,DFW,"Dallas/Fort Worth, TX",12892,LAX,"Los Angeles, CA",1440,1440.0,0.0,21.0,1501.0,1551.0,4.0,1615,1555.0,-20.0,0,NaN,0,N,215.0,195.0,170.0,1,1235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-07,AA,AA,AA,1213,AA,N896NN,1213,13930,ORD,"Chicago, IL",14747,SEA,"Seattle, WA",1150,1153.0,3.0,23.0,1216.0,1402.0,13.0,1422,1415.0,-7.0,0,NaN,0,N,272.0,262.0,226.0,1,1721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99991,2018-07-24,WN,WN,WN,1988,WN,N276WN,1988,10821,BWI,"Baltimore, MD",10529,BDL,"Hartford, CT",1300,NaN,NaN,NaN,NaN,NaN,NaN,1415,NaN,NaN,1,B,0,N,75.0,NaN,NaN,1,283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99992,2019-02-04,WN,WN,WN,1017,WN,N902WN,1017,14747,SEA,"Seattle, WA",11292,DEN,"Denver, CO",1430,1547.0,77.0,14.0,1601.0,1909.0,7.0,1805,1916.0,71.0,0,NaN,0,N,155.0,149.0,128.0,1,1024,15.0,0.0,0.0,0.0,56.0,NaN,NaN,NaN,NaN
99993,2019-11-21,WN,WN,WN,2331,WN,N7818L,2331,13891,ONT,"Ontario, CA",14107,PHX,"Phoenix, AZ",1510,1604.0,54.0,10.0,1614.0,1810.0,6.0,1720,1816.0,56.0,0,NaN,0,N,70.0,72.0,56.0,1,325,0.0,0.0,24.0,0.0,32.0,NaN,NaN,NaN,NaN
99994,2018-10-16,WN,WN,WN,1610,WN,N7732A,1610,15016,STL,"St. Louis, MO",12278,ICT,"Wichita, KS",1035,1037.0,2.0,6.0,1043.0,1151.0,4.0,1155,1155.0,0.0,0,NaN,0,N,80.0,78.0,68.0,1,392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99995,2018-03-07,WN,WN,WN,483,WN,N8607M,483,13232,MDW,"Chicago, IL",14107,PHX,"Phoenix, AZ",1820,1820.0,0.0,8.0,1828.0,2047.0,6.0,2110,2053.0,-17.0,0,NaN,0,N,230.0,213.0,199.0,1,1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN